{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <title>{% block title %}PasswordSecure{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'passwordsecure/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'passwordsecure/style.css' %}" />
    <link rel="icon" type="image/jpg" href="{% static 'passwordsecure/images/P_Icon.jpg' %}">
    
</head>

<body>


    {% include "passwordsecure/header.html" %}
    
    <div class="jumbotron">
        <div class="container">
            
            {% block main_content %} 
            {% endblock %} 
            {% include "passwordsecure/footer.html" %}
        </div>
    </div>
    
</body>

</html>
